.navbar {
  width: 100%;
  height: 91px;
  background-color: white;
}

.navbar-content {
  width: 137px;
  height: 37px;
  margin: 27px 0 0 30px;
  color: #2a2b2e;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  text-align: left;
}
