* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  width: 242px;
  height: 32px;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin-bottom: 30px;
}

.body-content {
  padding: 0 30px;
}
